name: Deploy Backend

on:
  push:
    branches: ["master"]  # Use correct branch (change if using master)

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to VPS
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: ${{ secrets.SERVER_IP }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            cd ~/vastu_backend
            git reset --hard
            git pull origin master
            docker compose down || true
            docker compose down
            docker compose up -d --build
